<div class="row" style="margin-bottom:10px;">
    <div class="col-lg-1 col-sm-1 col-md-1" style="font-size:16px; color:rgb(198, 198, 198); font-family:arial; width:35px; padding-top:16px;">{{$index+1}}</div>
    <div class="col-lg-1 col-sm-1 col-md-1" style="font-size:13px; color:rgb(198, 198, 198); font-family:arial verdana; width:30px; padding:0px;">
        <i class="fa fa-arrow-up hand" title="upvote" ng-click="upvotePost(post)" style="text-align:center; width:30px; display:inline-block" ng-style="{color: !post.upvoted ? 'rgb(198, 198, 198)' : 'rgb(198, 10, 10)'}"></i>
        <span style="text-align:center; width:30px; display:inline-block; font-family: verdana, arial, helvetica; font-weight:bold;">{{post.points || '0'}}</span>
        <i class="fa fa-arrow-down hand" title="downvote" ng-click="downvotePost(post)" style="text-align:center; width:30px; display:inline-block" ng-style="{color: !post.downvoted ? 'rgb(198, 198, 198)' : 'rgb(198, 10, 10)'}"></i>
    </div>
    <div class="col-lg-1 col-sm-1 col-md-1" style="width:80px;">
        <img src="{{post.image || '/img/logo.png'}}" style="width:70px; margin-top:5px;" />
    </div>
    <div class="col-lg-9 col-sm-9 col-md-9">
        <a style="font-size:16px; color:rgb(0,0,255); font-weight:normal;" href="{{post.url || '#'}}">
            {{post.name}}
        </a>
        <div class="clearfix"></div>
        <div ng-init="showFull=false;" ng-click="showFull=!showFull" style="background:transparent; border:1px solid navy; border-radius: 4px; height:30px; width:30px; float:left; margin-right:7px; color:navy; cursor: pointer;">
            <i class="fa fa-picture-o" style="margin-left:1px;"></i>
            <br/>
            <div style="margin-top:-10px; margin-left:18px;">{{showFull ? '-' : '+'}}</div>
        </div>
        <div style="font-size:10px; color:rgb(136, 136, 136);">
            submitted {{post.created | timeago}} by
            <span>
                <a style="color:rgb(51, 102, 153);" href="/Users/{{post.__owner._id}}">{{post.__owner.name}}</a>
                <i class="fa fa-tag" style="color:lightblue; font-size:12px;"></i>
            </span>
            <span ng-show="post._sub" style="color:rgb(136, 136, 136); cursor:pointer;">to <a href="/Subs/{{post._sub._id}}">{{post._sub.name}}</a></span>
        </div>
        <div style="font-size:10px; font-weight:bold; margin-top:4px;">
            <a style="color:rgb(136, 136, 136); cursor:pointer;" href="/Posts/{{post._id}}">{{post.commentCount || '0'}} comments</a>
            &nbsp;
            <a style="color:rgb(136, 136, 136); cursor:pointer;">share</a>
            &nbsp;
            <a style="color:rgb(136, 136, 136); cursor:pointer;">[l+c]</a>
            &nbsp;
            <span ng-if="post.__owner._id == $root._user._id">
                <a style="color:rgb(136, 136, 136); cursor:pointer;" ng-click="delete(post, posts)">delete</a>
                &nbsp;
                <a style="color:rgb(136, 136, 136); cursor:pointer;" href="/Posts/{{post._id}}/edit">edit</a>
            </span>
        </div>
        <div ng-if="showFull" style="margin-top:10px;">
            <div ng-include="'/partials/preview.html'"></div>
        </div>
    </div>

</div>
<hr />