<div ng-init="new()">
    Title<br />
    <input style="width:500px;" type="text" ng-model="item.name" /><br />
    Url<br />
    <input style="width:500px;" type="text" ng-model="item.url" /><br />
    Content<br />
    <textarea style="height:120px; width:500px;" type="text" ng-model="item.content"></textarea><br />
    Image (Override)<br />
    <input style="width:500px;" type="text" ng-model="item.image" /><br />
    <br />
    <button ng-click="createPost()" type="submit" class="btn btn-primary">Post</button>
</div>