<div ng-init="new()">
    Title<br />
    <input style="width:500px;" type="text" ng-model="item.name" /><br />
    Url<br />
    <input style="width:500px;" type="text" ng-model="item.url" /><br />
    Content<br />
    <textarea style="height:120px; width:500px;" type="text" ng-model="item.content"></textarea><br />
    Image (Override)<br />
    <input style="width:500px;" type="text" ng-model="item.image" /><br />
    <br />
    <div ng-if="_parameters._sub" style="margin-bottom: 10px;" ng-init="action('sub', 'Sub', 'get', _parameters._sub)">Posting to sub: {{sub.name}}</div>
    <button ng-click="createPost(item, _parameters._sub)" type="submit" class="btn btn-primary">Post</button>
</div>